.register-page {
    background-color: #f6f2f8;
    height: 965px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    &-content {
        display: flex;
        width: 60%;
        height: 80%;
        filter: drop-shadow(4px 4px 6px #d1d1d1);

        &-left {
            width: 100%;
            background-color: #452b4e;
            border-radius: 20px 0px 0px 20px;
        }

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 40px 80px;
            background-color: #ffffff;
            border-radius: 0px 20px 20px 0px;

            .content-right-header {
                margin: 30px 0px;

                .content-right-title {
                    color: #3a3a3a;
                }
    
                .content-right-description {
                    margin-top: 20px;
                    color: #979797;
                }
            }

            .content-right-register-form {
                display: flex;
                flex-direction: column;

                .register-input-text {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    width: 100%;
                    background-color: #f5f5f5;
                    border-radius: 10px;
                    margin: 5px 0px;

                    > input {
                        width: 100%;
                        border: none;
                        background-color: #f5f5f5;
                        padding: 0px 18px;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .btn-register {
                border: none;
                margin-top: 20px;
                border-radius: 8px;
                height: 45px;
                width: 100%;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;
                color: #ffffff;
                background-color: #ff805d;
                filter: drop-shadow(3px 8px 6px #ffebe6);
                transition: all 0.6s;

                &:hover {
                    color: #ffffff;
                    background-color: #eb896e;
                }
            }

            .content-right-register {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 35px 0px 0px 0px;

                > span {
                    font-size: 15px;
                }

                > a {
                    color: #6c6c6c;
                    font-size: 15px;
                    margin-left: 5px;
                    font-weight: 500;
                }
            }
        }
    }
}